@media (max-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}



.all
{
margin:auto;
text-align:center;
}

#my-photo{
  text-align: right;

}



.Geng-Wang
{
  margin-left: 2px;
  margin-top: 6px;
}


footer
{
  background:white;
  color:black;
  padding:20px 5px;
  font-size:15px;
  line-height:1em
  bottom: 0;
  width:100%;
  text-align: center; */

}



.card-body
{
  margin-right: auto;
}



.text2
{
  margin-left: 125px;
} 


.all-text
{
  margin:auto;
}


#navbarNav
{
  background-color:white;
}




.card
{
  margin:auto;
}


/* .text3
{
  margin-left: 171;
} */

.text
{
  margin: auto;
}
