body{
  font-family:"Lato", sans-serif;
  font-size: 18px;
  background:#4ca1af;
  background:-webkit-linear-gradient(to right, #4ca1af,#c4e0e5);
  background:linear-gradient(to right, #4ca1af, #c4e0e5);
}

h1{
  color: #001f3f;
  font-size:4em
  font-weight:bold;
  margin:0.5em;
  text-align:center;
}

.section{
  display:flex;
}

p{
  color:#333;
  line-height:normal;
  margin:4em auto;
  background: #f1f1f1;
  padding:1em;
  border-radius: 6px;
}

p.fifty{
  width:50%;
  margin:10px;
  background:#444
  color:#f1f1f1;
}

p img{
  margin:0 0 10px;
}

.image-section{
  height:300px;
  overflow:hidden;
}

.image-section img{
width:110%;
}

img{
  width:100%;
}

.container{
  width:90%;
  margin:0 auto;
}
