@media (max-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

.text
{
  margin-left:20px;
}


.card-deck
{
text-align: left;
padding:0;
}


footer
{
  background:white;
  color:black;
  padding:20px 5px;
  font-size:15px;
  line-height:1em
  bottom: 0;
  width:100%;
  text-align: center;

}

#navbarNav
{
  background-color:white;
}

.text
{
text-align: left;
margin-left: 10px
  padding:0;
}

h4
{
  text-align: left;
}

.less
{
  text-align: left;
}
