@import "~bootstrap/css/bootstrap";

html, body{
  height:100%;
  margin:0;
  padding:0;
}

#map {
  heght:100%;

}

#content{
  background:black;
  color:white;
}

.gm-style-iw-d{
  background:yellow;
}
