
@media (max-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

footer
{
  background:white;
  color:black;
  padding:20px 5px;
  font-size:15px;
  line-height:1em
  bottom: 0;
  width:100%;
  text-align: center;

}

#navbarNav
{
  background-color:white;
}

.all-card
{
  margin-left: 500;
}

.text
{
  margin-left:20px;
}
