.header{
  border-bottom: 1px solid #424242;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:0 0 0 0;
}

.moto{
  width:50px;
}

img{
  width:100%
}

.Language-Bar{
  list-style: none;
  margin:0;
  padding:0;
}

/* body {
  &.open-menu{ */

body{
  transform: translateX(250px);
  transition: transform 500ms ease-in-out;
}
}

.sidebar-nav{
  width:250px;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  background:#252525;
  padding:auto;
  transform: translateX(-250px);
}

.nav-items{
  color:white;
  font-size:12px
  font-weight:bold;
  text-transform: uppercase;
  margin:auto;
}

.close-btn{
  margin:0 0 16px 0;
  padding:0;
  border-bottom:1px solid white;
  width:100%;
}

svg{
  position: relative;
  right:16px;
}
